body {
    background-image: url(cat.jpg);
    font-family: 'Times New Roman', Times, serif;
}
.regform {
    background-color: rgb(0, 0, 0,.5);
    width: 300px;
    color: white;
    margin: 50px auto;
    padding: 5px 20px 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000;
}
.regform h3 {
    text-align: center;
    font-size: 30px;
    color: #F68E5F;
}
.regform .textlabel {
    display: block;
    font-size: 20px;
}
.input input {
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    box-shadow: 3px 3px 3px;
    width: 100%;
    box-sizing: border-box; /* Box Sizing */
    margin: 5px 0px 15px;
}
input:focus {
    background-color: #FFE882;
}
input:hover {
    background-color: #F5DD90;
}
#radio {
    font-size: 20px;
}
.btn {
    margin: 20px 0px 0px;
    text-align: center;
}
.btn button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #F68E5F;
    color: white;
}
.forgot {
    text-align: right;
    cursor: pointer;
}
.forgot label {
    font-size: 15px;
    padding: 5px 10px;
    cursor: pointer;
}
.forgot label:hover {
    color: #F68E5F;
}
button:hover {
    background-color: #EE6055;
    cursor: pointer;
}
.radio input {
    accent-color: #F68E5F;
    transform: scale(1.3);
    border: none;
}
#alternate {
    margin-top: 30px;
    text-align: center;
}
.icons {
    padding: 30px 10px;
    text-align: center;
}
.fa-facebook {
    padding-top: 10px;
    padding-right: 10px;
    color: #3b5998;
}
.fa-facebook:hover {
    /*color: #004E89;*/
    color: #000;
}
.fa-twitter {
    padding: 10px 10px 10px 0px;
    color: #00ACEE;
}
.fa-twitter:hover {
    /*color: #004E89;*/
    color: #000;
}
.fa-google-plus {
    padding-top: 10px;
    color: #DB4A39;
}
.fa-google-plus:hover {
    /*color: #960200;*/
    color: #000;
}